@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital@1&display=swap");

:root {
    --primary-color: #2F4858;
    --secondary-color: #ce5132;
    --section-bg1: #86BBD8;
    --section-bg2: #33658A;
    --footer-color: #000000;
    --btn-color: #f37121;
}

body{
    font-family: 'DM Sans', sans-serif;
    background-color: #FFFBEB;
}

.container {
    margin: 0.5rem 0.5rem;
    padding: 2rem 0rem;
    background-color: #FDE68A;
}

.container-center {
    max-width: 350px;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.heading {
    display: block;
    margin: auto;
    max-width: 370px;
    background-color: #FBBF24;
    padding: 1rem 1rem;
}


.container .box > textarea {
    /* width: 40vh;
    height: 20vh; */
    width: 22rem;
    height: 7rem;
    display: flex;
    justify-content: center;
    font-size: x-large;
}

.footer-yellow {
    background-color: #FBBF24;
    color: white;
    font-size: x-large;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    font-weight: bold;
}

